
@{
    ViewBag.Title = "RegistroEmpresa";
    Layout = null;

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de empresa</title>

    <!-- CSS -->
    <link href="~/Content/plugins/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style/style.css" rel="stylesheet" />
    <!-- JS -->
    <script src="~/Content/plugins/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/plugins/js/bootstrap.min.js"></script>
</head>
    <body>
        <br /> <br /> <br />
        <div class="container">
            <div class="row">

                <div class="divregistroempresa">

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span><label> <b> Registrar Empresa</b></label> </span>

                        </div>

                    </div>

                    <hr />

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <img src="~/Content/img/img_logo/TuLogo.png" alt="Avatar" width="80px" class="img-circle previsualizar" />
                            <label for="imagen" class="input-label"><i class="fa fa-cloud-upload"></i> Subir Imagen</label> <input type="file" name="imagen" id="imagen" />
                        </div>

                        <div class="col-md-6">
                            <span><label><b>Razon Social</b></label></span>
                            <input type="text" class="form-control" id="txtRazonSocial" />

                        </div>

                        <div class="col-md-3">
                            <span><label><b>RUT:</b></label></span>
                            <input type="text" class="form-control" id="txtRut" />

                        </div>


                    </div>

                    <div class="col-md-12">

                        <div class="col-md-3">


                        </div>

                        <div class="col-md-4">
                            <span><label><b>Email:</b></label></span>
                            <input type="text" class="form-control" id="txtEmail" />

                        </div>

                        <div class="col-md-2">
                            <span><label><b>Pais:</b></label></span>
                            <select class="form-control" id="slPais">
                                <option value="value">text</option>
                            </select>


                        </div>

                        <div class="col-md-2">
                            <span><label><b>Moneda:</b></label></span>
                            <select class="form-control" id="slMoneda">
                                <option value="value">text</option>
                            </select>

                        </div>


                    </div>

                    <div class="col_md-12">
                        <div class="col-md-3">

                        </div>

                        <div class="col-md-9">
                            <span><label><b>Direccion:</b></label></span>
                            <input type="text" class="form-control" id="txtDireccion" />
                            <br />
                        </div>

                    </div>


                    <div class="col_md-12">
                        <div class="col-md-3">

                        </div>

                        <div class="col-md-3">
                            <span><label><b>¿La venta tiene impuestos?</b></label></span>
                        </div>

                        <div class="col-md-6">

                            Si<input type="radio" id="rdSi" />
                            &nbsp;&nbsp;
                            No<input type="radio" id="rdNo" />
                        </div>


                    </div>

                    <div class="col-md-12">
                        <br />
                        <div class="col-md-3">


                        </div>


                        <div class="col-md-2">
                            <span><label><b>Tipo Impuesto:</b></label></span>
                            <select class="form-control" id="slPais">
                                <option value="value">text</option>
                            </select>


                        </div>


                        <div class="col-md-2">
                            <span><label><b>Porcentaje:</b></label></span>
                            <select class="form-control" id="slPorcentaje">
                                <option value="value">text</option>
                            </select>
                            <br />

                        </div>



                        <div class="col-md-12">
                            <br />
                            <div class="col-md-3">


                            </div>


                            <div class="col-md-2">
                                <button type="button" class="btn btn-default" id="btnSiguiente"> <img src="~/Content/img/imagenes/flecha-correcta.png" />Siguiente </button>
                            </div>

                            <div class="col-md-2">
                                <button type="button" class="btn btn-danger" id="btnCancelar">Cancelar </button>
                            </div>



                        </div>

                    </div>

                </div>

                <div class="divregistrouseradmin" style="display:none">

                    <div class="col-md-12">
                        <br />
                        <div class="col-md-3"> </div>
                        <div class="col-md-9">
                            <span><label>Nombre administrador</label></span>
                            <input type="text" class="form-control" id="txtUserAdmin" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <br />
                        <div class="col-md-3"> </div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <span><label>Contraseña</label></span>
                                <input type="text" class="form-control" id="txtPass" />

                            </div>
                            <div class="col-md-4">
                                <span><label>Confirmar contraseña</label></span>
                                <input type="text" class="form-control" id="txtPassConfirm" />

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <div class="col-md-3">


                        </div>


                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" id="btnSiguiente"> <img src="~/Content/img/imagenes/flecha-izquierda.png" />Atras </button>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" id="btnCancelar"><img src="~/Content/img/imagenes/salvar.png" />Registrar </button>
                            
                        </div>



                    </div>
                </div>

            </div>

        </div>

    </body>
</html>

<script type="text/javascript" src="~/Scripts/app/registroEmpresa.js"></script>

